#mainbanner{
	background-image: url("../images/banner.png");
	height: 632px;
	background-repeat: no-repeat;
	background-size: 100%;
}
#header-color{
	background-color: rgba(45,13,12,0.8);
	height: 91px;
}
#logo{
	padding-top: 40px;
}
ul#menu-principal{
	float: right;
	padding-top: 55px;
}
ul#menu-principal li{
	display: inline-block;
	font-size:0.7em;
	
}
ul#menu-principal li a{
	text-decoration: none;
	color: #ffffff;
	padding: 0px 12px;
}
ul#menu-principal li a:hover{
	padding: 10px 12px;
	background: #e3b05b;
	color: #2d0d0c;
	border-radius: 5px 0 0 0;
}